.footer_supper {
  height: 100%;
  width: 100%;
  background-color: #D9E4E0;
  display: flex;
  padding-top: 7%;
  padding-bottom: 50px;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .grid3 {
    padding-left: 70px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 700px) {
  .grid2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {

  .lastNameEnd,
  .lastNameEnd a {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 13px;
    font-family: serif;
    text-decoration: none;
    color: #000000cb;
    font-weight: 400;
    padding: 10px;
    text-align: center;

    display: block, flex;
  }
}


@media screen and (min-width: 700px) {

  .lastNameEnd,
  .lastNameEnd a {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 13px;
    font-family: serif;
    text-decoration: none;
    color: #000000cb;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    display: none;
  }
}

@media screen and (max-width: 700px) {

  .lastName,
  .lastName a {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 13px;
    font-family: serif;
    text-decoration: none;
    color: #000000cb;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    display: none;
  }
}

.lastName a {
  font-size: 13px;
  font-family: serif;
  text-decoration: none;
  color: black !important;
  font-weight: 400;
  padding: 10px;
}



/* icon style */
.footerA a {
  text-align: center;
  font-family: serif;
  text-decoration: none;
  /* color: #000000cb; */
  color: black !important;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}


/* CSS */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #00000028;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.sociallinks {
  display: flex;

}

.sociallinks button {
  margin: 10px;
  font-size: 10px;
  color: #000000a6;
  background-color: transparent;
  border: .5px rgba(0, 0, 0, 0.288) solid;
}

.sociallinks2 button {
  margin: 10px;
  font-size: 10px;
  color: #000000a1;
  background-color: transparent;
  border: .5px rgba(0, 0, 0, 0.315) solid;
}

.sociallinks2 {
  display: flex;

}

.sociallinksMain {
  display: flex;
  flex-direction: column;

}
*::before {
  box-sizing: border-box;
}

.footerA a {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  padding-bottom: 0.25rem;
  position: relative;
}

.footerA a::before {
  content: "";
  position: absolute;
  left: 0;
  /* right: 0; */
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.445);
  transition: width 0.25s ease-out;
}

.footerA a:hover::before {
  width: 100%;
}